body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {}

.content {
    flex: 1 1 auto
}

.header {}

.container {
    max-width: 100%;
}

.header__body {
    background-color: rgba(0,0,0,0.2);
    padding: 15px 0;
    min-height: 25px;
}

.navigation {}

.navigation nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    color: black;
    font-size: 15px;

}

.nav_list {
    display: flex;
    position: static;
    list-style: none;
    padding: 0;
    margin: 0;
}


.nav_elem {
    display: block;
    width: 150px;
    height: 35px;
    line-height: 35px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    margin: 5px 0px 5px 15px;
    position: relative;
    transition: all 0.4s;
}

.nav_elem span {
    position: relative;
    z-index: 2;
}

.nav_elem::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ff003b;
    transition: all .35s;
}


.nav_elem:hover {
    color: #fff;
}
.nav_elem:hover::after{
    width: 100%;
}

.goal__application {
    margin: 0 auto;
    display: table;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 1px 1px 1px;
}

.goal {
    font-size: 20px;
    background-color: #333;
    color: #fff;
}

.checkbtn {
    font-size: 30px;
    display: none;
    color: white;
    cursor: pointer;
}

#check {
    display: none;
}


.main__table {
    margin: 75px 0;
}

.table__row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.table__text {
    margin: 0 0 20px 0;
}

.table__text input[type="text"] {
    border-radius: 5px;
    border: 1px solid black;
    height: 30px;
    font-size: 20px;
}


.table__diagram {
    margin-top: 20px;
}

.table__info {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
}

.table__info ul {
    list-style: none;
    margin-bottom: 22px;
    padding: 0 150px;
}

.table__info h4 {
    text-align: center;
}

.table__info a {
    text-decoration: none;

}

.table__info a:visited {
    color: black;
}

.table__info a:hover {}

.table__info li {
    margin: 10px;
    padding: 7px;
    border: 1px solid rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    text-align: center;


}

.table__info .addButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#myChart {
    max-width: 280px;
}