h1 {
    margin-left: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

h2 {
    margin-left: 15px;
    font-style: oblique;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-field {
    margin: 25px;
    padding: 15px;
}


.form-field .buttonRegister {
    border-right: none;
    border-left: none;
    display: block;
    font-size: 24px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    border-radius: 40px;
    letter-spacing: 2px;
    transition: all .25s;
}



.buttonRegister:hover {
    letter-spacing: 10px;
}

    



.form-field input[type="text"],
input[type="password"],
input[type="email"] {
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.postScript a {
    text-decoration: none;
    margin-left: 5px;
}

.postScript {
    font-size: 18px;
    margin: 25px;
    padding: 15px;
    margin-top: -10px;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media (min-width:768px) {

    .form-field input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: 400px;
        min-height: 40px;
    }

}

@media (max-width: 768px) {

    .form-field input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: 280px;
        min-height: 40px;
    }

}