h1 {
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

label {
    display: table;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.form-field {
    margin: 25px;
    padding: 10px;
}

.login,
.password {
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
}

.fieldAfterButton {
    font-size: 18px;
    margin: 25px;
    padding: 15px;
    margin-top: -10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.fieldAfterButton a {
    text-decoration: none;
    margin-left: 5px;
}
 .buttonLogin {
    transition-duration: 0.5s;
    background-color: rgba(109, 236, 12, 0.295);
    font-size: 20px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-shadow: 2px 1px 1px rgb(56, 48, 48);
}

.buttonLogin:hover {
    color: midnightblue;
    transform: scale(1.2);
    transition: transform 0.5s;
}

@media (min-width:768px) {

    .login,
    .password {
        width: 400px;
        min-height: 25px;
    }

}

@media (max-width: 768px) {

    .login,
    .password {
        width: 280px;
        min-height: 25px;
    }

}