h1 {
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

label {
    display: table;
    margin-bottom: 10px;
    font-size: 18px;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.form-field {
    margin: 25px;
    padding: 10px;
}

.login,
.password {
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.3);
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fieldAfterButton {
    font-size: 18px;
    margin: 25px;
    padding: 15px;
    margin-top: -10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.fieldAfterButton a {
    text-decoration: none;
    margin-left: 5px;
}
 .buttonLogin {
    border-right: none;
    border-left: none;
    display: block;
    font-size: 24px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    border-radius: 40px;
    letter-spacing: 2px;
    transition: all .25s;
}

.buttonLogin:hover {
    letter-spacing: 10px;
}

@media (min-width:768px) {

    .login,
    .password {
        width: 400px;
        min-height: 40px;
    }

}

@media (max-width: 768px) {

    .login,
    .password {
        width: 280px;
        min-height: 40px;
    }

}