p {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
}

.wrapper {
    overflow: hidden;
    max-width: max-content;
    margin: 0 auto;
}

.container {
    margin: 50px 0;
    border: 2px solid black;
    padding: 30px;
    border-radius: 7px;
}

.email {
    display: flex;
    margin: 10px auto;
    width: 350px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.buttonSubmit {
    display: block;
    margin: 0 auto;
    border-right: none;
    border-left: none;
    display: block;
    font-size: 24px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    border-radius: 40px;
    letter-spacing: 2px;
    transition: all .25s;
}
.buttonSubmit:hover {
   letter-spacing: 10px;
}
